# old stuff not currently used

[sssd]
domains = {{ ad_server.domain[0] }} 
config_file_version = 2
services = nss, pam
default_domain_suffix = {{ ad_server.domain[0] }} 

[domain/ad_server.domain[0]]
ad_domain = {{ ad_server.domain[0] }} 
krb5_realm = {{ ad_server.domain[0] | upper}} 
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
# CN=itafd,OU=DistributionLists,DC=itu,DC=local
# ad_access_filter = (|(memberOf=cn=domain\\ admins,ou=Groups,dc={{ ad_server.domain[0].split('.')[0] }},dc=ad_server.domain[0].split('.')[1]))(CN=itafd,OU=DistributionLists,dc={{ ad_server.domain[0].split('.')[0] }},dc=ad_server.domain[0].split('.')[1]))) 
krb5_store_password_if_offline = False
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = True
fallback_homedir = /home/%u@%d
access_provider = ad

# even older stuff, some may be reused for NFS4
# ignore_group_members = True
# ldap_use_tokengroups = true
# ldap_group_nesting_level = 5
# ldap_idmap_range_size = 600000
# ldap_enumeration_search = 180
# ldap_access_filter = (!(loginShell=/sbin/nologin))
# {% if ansible_distribution_major_version == '8' %}
# ad_gpo_access_control = disabled
# {% endif %}
# fallback_homedir = /nfs/home/%u
# krb5_renewable_lifetime = 7d
# krb5_renew_interval = 3600
